nav {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 20px;
}
nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: #ccc;
}